</main>
<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
            href="https://twitter.com/mdo">@mdo</a>.</p>
    <p class="mb-0">
        <a href="#">Back to top</a>
    </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const searchInput = document.getElementById("search");
    const resultsDiv = document.getElementById("modal-body");
    document.getElementById('searchform').addEventListener("submit", (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);
        const jsonData = Object.fromEntries(formData.entries());
        axios.post("/search", jsonData).then((response) => window.location.href = response.data.redirect).catch((error) => console.log(error.response.data));
    })
    let timeout;
    searchInput.addEventListener("input", async (e) => {
        clearTimeout(timeout);
        timeout = setTimeout(() => {
            const query = e.target.value.trim();
            if (query.length > 0) {
                search(query)
            }
        }, 300);
    });
    async function search(query) {
        try {
            const response = await axios.get(`/query?q=${encodeURIComponent(query)}`);
            const results = response.data.results;
            displayResult(results)
        } catch (error) {
            console.log(error);
            console.log("error at search function");
        }
    }
    function displayResult(results) {
        if (results.length === 0) {
            resultsDiv.innerHTML = '<h5>No results found</h5>';
            return;
        }
        resultsDiv.innerHTML = results.map(item => `<p onclick="replace('${item}');" >${item}</p>`).join('');
    }
    function replace(title) {
        searchInput.value = title;
    }
</script>
</body>

</html>